<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="top-bar"></div>
    <div class="my-title-bar">
      <h1 class="name-title text-center">{{site.title}}</h1>
    </div>
    <div class="info-card">
      <div class="container">
        
        <div class="row">
          <div class="bio-images col-sm-4 col-sm-push-8">
            <img class="img-responsive img-circle center-block" src="/data/images/portrait-150x150.png">
          </div>
          <div class="bio-descriptions col-sm-8 col-sm-pull-4">{{content}}</div>       
        </div>
        
        <div class="row">
          <div class="bio-contact xs-sm-6">
            <div class="text-uppercase text-right"><b>Contact</b></div>
          </div>
          <div class="bio-contact xs-sm-6">
              {% include icon-email.html %}
              {% include icon-facebook.html %}
              {% include icon-github.html %}
          </div>
        </div>
        
        <div class="row">
          <div class="bio-contact xs-sm-6">
            <div class="text-uppercase text-right"><b>Location</b></div>
          </div>
          <div class="bio-contact xs-sm-6">
              Boston, MA
          </div>
        </div>
        
      </div>
    </div>
    <nav class="home-mid-nav">
      <div class="container">
        <hr class="half-rule">
        <div class="trigger text-center">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <hr class="half-rule">
      </div>
    </nav>
    <div class="page-content">
      <div class="container">
        <div class="home">
          <h1 class="page-heading">Recent</h1>
          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>
          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
