<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="homepage-colorbar"></div>
        <h1 class="text-center">{{site.title}}</h1>

        <div class="row">
          <div class=""></div>
          <div class=""></div>
        </div>
      </header>

      <nav class="row">
        <hr>
        <div class="trigger text-center">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>

      <div class="row page-content text-center">
        <div class="home">

          <h1 class="page-heading">Recent</h1>

          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>

          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

        </div>
      </div>
    </div>

  </body>

</html>
