<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      <div class="my-title-bar">
        <div class="homepage-colorbar"></div>
        <div class="name-title">
          <h1 class="text-center">{{site.title}}</h1>
        </div>
      </div>
      <div class="info-card row">
        <div class="bio-descriptions col-xs-8">{{content}}</div>
        <div class="col-xs-4">
          <img class="img-responsive" src="http://placehold.it/200x200">
        </div>
      </div>

      <nav class="navigation row">
        <hr>
        <div class="trigger text-center">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </nav>

      <div class="page-content row text-center">
        <div class="home">

          <h1 class="page-heading">Recent</h1>

          <ul class="post-list">
            {% for post in site.posts %}
              <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
              </li>
            {% endfor %}
          </ul>

          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

        </div>
      </div>
    </div>

  </body>

</html>
